Build started...
Build succeeded.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE TABLE [Categories] (
        [Id] int NOT NULL IDENTITY,
        [Name] nvarchar(200) NOT NULL,
        CONSTRAINT [PK_Categories] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE TABLE [Departments] (
        [Id] int NOT NULL IDENTITY,
        [Name] nvarchar(200) NOT NULL,
        CONSTRAINT [PK_Departments] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE TABLE [Users] (
        [Id] int NOT NULL IDENTITY,
        [Username] nvarchar(100) NOT NULL,
        [Password] nvarchar(256) NOT NULL,
        [FullName] nvarchar(200) NOT NULL,
        [Role] int NOT NULL,
        [Class] nvarchar(100) NULL,
        CONSTRAINT [PK_Users] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE TABLE [Surveys] (
        [Id] int NOT NULL IDENTITY,
        [Title] nvarchar(300) NOT NULL,
        [Description] nvarchar(max) NULL,
        [IsPublished] bit NOT NULL,
        [ClassTarget] nvarchar(200) NULL,
        [CategoryId] int NULL,
        [DepartmentId] int NULL,
        CONSTRAINT [PK_Surveys] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Surveys_Categories_CategoryId] FOREIGN KEY ([CategoryId]) REFERENCES [Categories] ([Id]) ON DELETE SET NULL,
        CONSTRAINT [FK_Surveys_Departments_DepartmentId] FOREIGN KEY ([DepartmentId]) REFERENCES [Departments] ([Id]) ON DELETE SET NULL
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE TABLE [Feedbacks] (
        [Id] int NOT NULL IDENTITY,
        [Status] int NOT NULL,
        [SubmittedAt] datetime2 NULL,
        [UserId] int NOT NULL,
        [SurveyId] int NOT NULL,
        CONSTRAINT [PK_Feedbacks] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Feedbacks_Surveys_SurveyId] FOREIGN KEY ([SurveyId]) REFERENCES [Surveys] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_Feedbacks_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE TABLE [Questions] (
        [Id] int NOT NULL IDENTITY,
        [Text] nvarchar(max) NOT NULL,
        [Type] int NOT NULL,
        [Options] nvarchar(max) NULL,
        [SurveyId] int NOT NULL,
        CONSTRAINT [PK_Questions] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Questions_Surveys_SurveyId] FOREIGN KEY ([SurveyId]) REFERENCES [Surveys] ([Id]) ON DELETE CASCADE
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE TABLE [ProcessingRecords] (
        [Id] int NOT NULL IDENTITY,
        [Action] nvarchar(max) NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        [FeedbackId] int NOT NULL,
        [HandlerUserId] int NOT NULL,
        CONSTRAINT [PK_ProcessingRecords] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_ProcessingRecords_Feedbacks_FeedbackId] FOREIGN KEY ([FeedbackId]) REFERENCES [Feedbacks] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_ProcessingRecords_Users_HandlerUserId] FOREIGN KEY ([HandlerUserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE TABLE [FeedbackAnswers] (
        [Id] int NOT NULL IDENTITY,
        [AnswerText] nvarchar(max) NULL,
        [FeedbackId] int NOT NULL,
        [QuestionId] int NOT NULL,
        CONSTRAINT [PK_FeedbackAnswers] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_FeedbackAnswers_Feedbacks_FeedbackId] FOREIGN KEY ([FeedbackId]) REFERENCES [Feedbacks] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_FeedbackAnswers_Questions_QuestionId] FOREIGN KEY ([QuestionId]) REFERENCES [Questions] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Name') AND [object_id] = OBJECT_ID(N'[Categories]'))
        SET IDENTITY_INSERT [Categories] ON;
    EXEC(N'INSERT INTO [Categories] ([Id], [Name])
    VALUES (1, N''Khß║úo s├ít m├┤n hß╗ìc''),
    (2, N''Khß║úo s├ít c╞í sß╗ƒ vß║¡t chß║Ñt''),
    (3, N''Khß║úo s├ít dß╗ïch vß╗Ñ sinh vi├¬n'')');
    IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Name') AND [object_id] = OBJECT_ID(N'[Categories]'))
        SET IDENTITY_INSERT [Categories] OFF;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Name') AND [object_id] = OBJECT_ID(N'[Departments]'))
        SET IDENTITY_INSERT [Departments] ON;
    EXEC(N'INSERT INTO [Departments] ([Id], [Name])
    VALUES (1, N''Ph├▓ng ─É├áo tß║ío''),
    (2, N''Ph├▓ng Khß║úo th├¡''),
    (3, N''Ph├▓ng Quß║ún trß╗ï'')');
    IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Name') AND [object_id] = OBJECT_ID(N'[Departments]'))
        SET IDENTITY_INSERT [Departments] OFF;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Class', N'FullName', N'Password', N'Role', N'Username') AND [object_id] = OBJECT_ID(N'[Users]'))
        SET IDENTITY_INSERT [Users] ON;
    EXEC(N'INSERT INTO [Users] ([Id], [Class], [FullName], [Password], [Role], [Username])
    VALUES (1, NULL, N''Quß║ún trß╗ï vi├¬n'', N''$2a$11$nlXS4cp2ZZhXZRI50rfkeea/aYieEeIhjNrZ2ahbA2G2r1v0OX3pm'', 0, N''admin''),
    (2, NULL, N''Nguyß╗àn V─ân A'', N''$2a$11$4j6q4wBUDFTj.dJ1ihVpsO42eIYsvdSm7fg62Jmcx1UFoQfMZwMhK'', 1, N''staff01''),
    (3, N''CNTT01'', N''Trß║ºn Thß╗ï B'', N''$2a$11$bHphvEqo9E3O9RQEpscPFe1JUNjbaGYwHHfNmchBRiMkFO5r7Ap5K'', 2, N''sv001'')');
    IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Class', N'FullName', N'Password', N'Role', N'Username') AND [object_id] = OBJECT_ID(N'[Users]'))
        SET IDENTITY_INSERT [Users] OFF;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_FeedbackAnswers_FeedbackId] ON [FeedbackAnswers] ([FeedbackId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_FeedbackAnswers_QuestionId] ON [FeedbackAnswers] ([QuestionId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_Feedbacks_SurveyId] ON [Feedbacks] ([SurveyId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_Feedbacks_UserId] ON [Feedbacks] ([UserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_ProcessingRecords_FeedbackId] ON [ProcessingRecords] ([FeedbackId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_ProcessingRecords_HandlerUserId] ON [ProcessingRecords] ([HandlerUserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_Questions_SurveyId] ON [Questions] ([SurveyId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_Surveys_CategoryId] ON [Surveys] ([CategoryId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE INDEX [IX_Surveys_DepartmentId] ON [Surveys] ([DepartmentId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    CREATE UNIQUE INDEX [IX_Users_Username] ON [Users] ([Username]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260514213455_InitialCreate'
)
BEGIN
    INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
    VALUES (N'20260514213455_InitialCreate', N'8.0.0');
END;
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260601033840_AddClassTable'
)
BEGIN
    CREATE TABLE [Classes] (
        [Id] int NOT NULL IDENTITY,
        [Name] nvarchar(100) NOT NULL,
        [Description] nvarchar(500) NULL,
        CONSTRAINT [PK_Classes] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260601033840_AddClassTable'
)
BEGIN
    ALTER TABLE [Users] ADD [ClassId] int NULL;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260601033840_AddClassTable'
)
BEGIN
    ALTER TABLE [Surveys] ADD [ClassId] int NULL;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260601033840_AddClassTable'
)
BEGIN
    CREATE INDEX [IX_Users_ClassId] ON [Users] ([ClassId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260601033840_AddClassTable'
)
BEGIN
    CREATE INDEX [IX_Surveys_ClassId] ON [Surveys] ([ClassId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260601033840_AddClassTable'
)
BEGIN
    ALTER TABLE [Surveys] ADD CONSTRAINT [FK_Surveys_Classes_ClassId] FOREIGN KEY ([ClassId]) REFERENCES [Classes] ([Id]) ON DELETE SET NULL;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260601033840_AddClassTable'
)
BEGIN
    ALTER TABLE [Users] ADD CONSTRAINT [FK_Users_Classes_ClassId] FOREIGN KEY ([ClassId]) REFERENCES [Classes] ([Id]) ON DELETE SET NULL;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260601033840_AddClassTable'
)
BEGIN
    INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
    VALUES (N'20260601033840_AddClassTable', N'8.0.0');
END;
GO

COMMIT;
GO


